<header class="header-background" id="homepage-header">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">MEAN CHAT APP</h1>
      <h2> Built with Angular, ExpressJs, SocketIO and Mongodb</h2>
    </div>
    <div class="header-start">
      <a mat-raised-button color="primary" class="button" routerLink="/login">Login</a>
    </div>
  </div>
</header>

<div class="help-support">
  <ul>
    <li>
      <a href="https://github.com/golu7679/mean-chat-app" target="_blank">
        <img src="../../../assets/img/github.png" alt="Github icon" loading="lazy">
        Github
      </a>
      <div class="help-support-description">
        <p>Contribute here</p>
      </div>
    </li>
  </ul>
</div>
