<div fxLayout="row" fxLayoutAlign="space-evenly center" style="height: 90%">
  <mat-card fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="90">
    <mat-toolbar color="primary"> Signup</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="singUpForm" (submit)="submit()">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon class="password-icon">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" [disabled]="submitForm">
        Submit
        <mat-icon>
          <mat-spinner [diameter]="20"></mat-spinner>
        </mat-icon>
      </button>
    </form>
  </mat-card>
</div>
