<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    fixedInViewport
    #drawer
    *ngIf="userAuthenticated"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Users</mat-toolbar>
    <mat-list>
      <mat-list-item matRipple *ngFor="let user of userList" role="button" [routerLink]="'/conversation/' + user.email">
        <img matListAvatar src="https://picsum.photos/200" alt="avatar" height="50" width="50" />
        <div mat-line>{{ user.name }}</div>
        <!--                <div mat-line>{{ user.email }}</div>-->
        <span class="badge" matBadge="" matBadgeColor="accent" matBadgeOverlap="true"></span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="(isHandset$ | async) && userAuthenticated" (click)="toggleDrawer()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MEAN Chat</span>
      <span class="example-spacer"></span>
      <ng-template [ngIf]="!userAuthenticated" [ngIfElse]="logout_btn">
        <button mat-button routerLink="/sign_up">
          <mat-icon>favorite</mat-icon>
          Signup
        </button>
        <button mat-button routerLink="/login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>

      <ng-template #logout_btn>
        <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </ng-template>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
