<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    fixedInViewport
    #drawer
    *ngIf="userAuthenticated"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-list>
      <div mat-subheader>Users</div>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line>{{ folder.name }}</div>
        <div mat-line>{{ folder.updated | date }}</div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="(isHandset$ | async) && userAuthenticated" (click)="toggleDrawer()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MEAN Chat</span>
      <span class="example-spacer"></span>
      <ng-template [ngIf]="!userAuthenticated" [ngIfElse]="logout">
        <button mat-button routerLink="/sign_up">
          <mat-icon>favorite</mat-icon>
          Signup
        </button>
        <button mat-button routerLink="/login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>

      <ng-template #logout>
        <button mat-button><mat-icon>logout</mat-icon> Logout</button>
      </ng-template>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
