@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$teal-palette, 800);
$my-accent: mat.define-palette(mat.$light-green-palette, 800);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent
  )
));

@include mat.all-component-themes($my-theme);
